## Problem 1 - Basic statistics of the data (*4 points*)

In this problem your task is to open and explore a NOAA weather data file using Pandas. The data file name is [data/6153237444115dat.csv](data/6153237444115dat.csv). Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Importing the Pandas module
- Reading the data using Pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1 point*)

Your first task is to import Pandas and read in the data file.

- Import the Pandas module (*0.5 points*)
- Read the data into a variable called `data` using Pandas (*0.5 points*)

**Important**: When reading the data, you need to tell Pandas that no-data values are specified with varying number of `*` characters. You can do this by specifying a following parameter in the Pandas `read_csv()` function: 
  
`na_values=['*', '**', '***', '****', '*****', '******']`

In [6]:
import pandas as pd

In [7]:
# my code here
data_table = "data/6153237444115dat.csv"
data = pd.read_csv(data_table, sep=',', na_values=['*', '**', '***', '****', '*****', '******'])

In [9]:
print(data.head())

    USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS  CLG  SKC   L   M  ...  \
0  28450  99999  201705010000  174.0  10.0  14.0  NaN  NaN NaN NaN  ...
1  28450  99999  201705010020  180.0  10.0   NaN  4.0  NaN NaN NaN  ...
2  28450  99999  201705010050  190.0  10.0   NaN  4.0  NaN NaN NaN  ...
3  28450  99999  201705010100  188.0  12.0  16.0  NaN  NaN NaN NaN  ...
4  28450  99999  201705010120  200.0  13.0   NaN  2.0  OBS NaN NaN  ...

      SLP    ALT    STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0  1009.2    NaN  984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3  1009.1    NaN  984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN

[5 rows x 33 columns]

Run these tests to check that everything is set up correctly:

In [11]:
from nose.tools import ok_, assert_equal
import inspect
import sys

# Check that pandas module is imported
ok_('pandas' in sys.modules)

In [12]:
# Check that the variable data exists:
ok_('data' in locals())

### Part 2 (*1.5 points*)   

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [24]:
# Number of rows in the dataframe:
rows = len(data)

# Column names:
column_names = data.columns.values

# Column datatypes:
column_datatypes = []
for col in data:
    column_datatypes.append(data[col].dtypes)

In [25]:
# Print the number of rows in the dataframe:
print("There are " + str(rows) + " rows")

There are 11694 rows

In [26]:
# Print the column names:
print("The columns are: \n", column_names)

The columns are:
 ['USAF' 'WBAN' 'YR--MODAHRMN' 'DIR' 'SPD' 'GUS' 'CLG' 'SKC' 'L' 'M' 'H'
 'VSB' 'MW' 'MW.1' 'MW.2' 'MW.3' 'AW' 'AW.1' 'AW.2' 'AW.3' 'W' 'TEMP'
 'DEWP' 'SLP' 'ALT' 'STP' 'MAX' 'MIN' 'PCP01' 'PCP06' 'PCP24' 'PCPXX' 'SD']

In [27]:
# Print the column datatypes:
print("The column types are: \n", column_datatypes)

The column types are:
 [dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

### Part 3 (*1.5 points*)   

In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the Maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [33]:
print((data['TEMP']).head())

0    31.0
1    30.0
2    30.0
3    31.0
4    30.0
Name: TEMP, dtype: float64

In [42]:
# Calculate mean temperature
temp_mean = (data['TEMP']).mean()

# Calculate standard deviaton of the maximum temperature:
temp_max_std = (data['TEMP']).std()

#Calculate number of unique stations:
station_count = data['WBAN'].unique()

In [38]:
# Check mean temperature value
print("The mean temperature in Fahrenheit is ", round(temp_mean,1))

The mean temperature in Fahrenheit is  52.2

In [39]:
# Check standard deviation value
print("The standard deviation of maximum temperature is ", round(temp_max_std, 1))

The standard deviation of maximum temperature is  11.0

In [43]:
# Check number of stations value
print("The number of unique stations is ", station_count)

The number of unique stations is  [99999]

### Problem 1 summary

In the [Exercise 5 summary notebook](Exercise-5-summary.ipynb) you can find a few additional points to consider and one final question for Problem 1. Please answer that question in [that notebook](Exercise-5-summary.ipynb).

### On to Problem 2

Now you can continue to [Problem 2: Data manipulation and selection](Exercise-5-problem-2.ipynb)